@use "sass:color";
@use "variables";

@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 300;
	src:
		local('Overpass Light'),
		local('Overpass-Light'),
		url('../fonts/Overpass_300.woff2') format('woff2'),
		url('../fonts/Overpass_300.woff') format('woff'),
		url('../fonts/Overpass_300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Overpass_300.svg#Overpass') format('svg'),
		url('../fonts/Overpass_300.ttf') format('truetype');
}

@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 400;
	src:
		local('Overpass Regular'),
		local('Overpass-Regular'),
		url('../fonts/Overpass_400.woff2') format('woff2'),
		url('../fonts/Overpass_400.woff') format('woff'),
		url('../fonts/Overpass_400.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Overpass_400.svg#Overpass') format('svg'),
		url('../fonts/Overpass_400.ttf') format('truetype');
}

@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 600;
	src:
		local('Overpass SemiBold'),
		local('Overpass-SemiBold'),
		url('../fonts/Overpass_600.woff2') format('woff2'),
		url('../fonts/Overpass_600.woff') format('woff'),
		url('../fonts/Overpass_600.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Overpass_600.svg#Overpass') format('svg'),
		url('../fonts/Overpass_600.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src:
		local('Open Sans Regular'),
		local('OpenSans-Regular'),
		url('../fonts/Open_Sans.woff2') format('woff2'),
		url('../fonts/Open_Sans.woff') format('woff'),
		url('../fonts/Open_Sans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Open_Sans.svg#OpenSans') format('svg'),
		url('../fonts/Open_Sans.ttf') format('truetype');
}

body {
	background: variables.$bg;
	color: variables.$fg;
	font-family: 'Open Sans', sans-serif;
	padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Overpass', sans-serif;
}

a {
	color: variables.$fg;
	border-bottom: 1px solid color.adjust(variables.$fg, $lightness: 70%);
	transition: border-color .3s;

	&:hover {
		border-color: variables.$fg;
	}
}

abbr {
	cursor: help;
	border-bottom: 1px dashed variables.$fg;
}
