@use "variables";

#wrapper {
	display: flex;
	align-items: flex-start;
	margin: 0 auto;
	max-width: variables.$viewport-width;

	aside {
		flex: 1;
		padding-right: 0.5rem;

		h2 {
			margin-bottom: 0.5rem;
		}

		a {
			margin: 0.1rem 0;
		}

		#skills {
			display: flex;

			.column:first-of-type {
				margin-right: 3rem;
			}
		}
	}

	main {
		flex: 3;
		padding-left: 0.5rem;

		p {
			margin-top: 0.4rem;

			&.space-above {
				margin-top: 1.25rem;
			}
		}
	}

	section {
		margin-bottom: 1.5rem;

		h2 {
			display: inline-block;
			font-size: 1.5rem;
			border-bottom: 3px solid variables.$accent;
		}
	}

	p {
		text-align: justify;
	}

	.item {
		margin: 0.75rem 0;

		header {
			display: flex;
			justify-content: space-between;
			align-items: baseline;

			&:first-child {
				margin-bottom: 0.6rem;
			}

			h3:nth-child(2), h4:nth-child(2), h5:nth-child(2) {
				text-align: right;
			}

			.position {
				font-weight: 600;
				color: variables.$fg;
			}

			h3, h4 {
				color: #2b2b2b;
			}

		}

		h3 {
			font-size: 1.3rem;
			line-height: 1.5rem;
		}

		h4 {
			font-size: 1.15rem;
			line-height: 1.3rem;
			font-weight: 300;
		}

		h5, h6 {
			font-size: 1rem;
		}

		h5 {
			line-height: 1.2rem;
			font-weight: 300;
			margin-top: 0.6rem;
		}

		h6 {
			font-weight: 600;
			margin-top: 0.4rem;
		}
	}
}
