@use "variables";

@use 'sass:math';

$flag-height: 1.395rem;
$flag-en-width: $flag-height * 2;
$flag-cs-width: math.div($flag-height, 2) * 3;

$flag-en-angle: math.asin(math.div(15, math.sqrt(math.pow(15, 2) + math.pow(30, 2))));

$flag-en-blue: #00247d;
$flag-en-red: #cf142b;
$flag-en-white: #ffffff;

$flag-cs-blue: #11457e;
$flag-cs-white: #eeeeee; // not completely white so that the flag can be seen against a white background
$flag-cs-red: #d7141a;


.flag {
	position: relative;
	height: $flag-height;
	overflow: hidden;
	transition: opacity variables.$transition-duration;
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}

	div {
		position: absolute;
	}

	&#en {
		width: $flag-en-width;
		background-color: $flag-en-blue;

		#patrick-tl,
		#patrick-tr,
		#patrick-bl,
		#patrick-br,
		#george-hor,
		#george-ver {
			background-color: $flag-en-red;
		}

		#andrew-tl,
		#andrew-tr {
			width: math.sqrt(math.pow(100, 2) + math.pow(50, 2)) * 1%;
			height: 0;
			background-color: $flag-en-white;
			border-color: $flag-en-white;
			border-style: solid;
			border-top-width: math.div(3, 30) * $flag-height;
			border-bottom-width: math.div(3, 30) * $flag-height;
			border-left-width: 0;
			border-right-width: 0;
			transform-origin: 0 math.div(3, 30) * $flag-height;
		}

		#andrew-tl {
			top: 0;
			left: 0;
			transform: translate(0, math.div(3, 30) * $flag-height * -1) rotate($flag-en-angle);
		}

		#andrew-tr {
			bottom: 0;
			left: 0;
			transform: translate(0, math.div(3, 30) * $flag-height) rotate($flag-en-angle * -1);
		}

		#patrick-tl,
		#patrick-tr,
		#patrick-bl,
		#patrick-br {
			width: math.div(math.sqrt(math.pow(100, 2) + math.pow(50, 2)) * 1%, 2);
			height: math.div(2, 30) * $flag-height;
		}

		#patrick-tl,
		#patrick-br {
			transform: rotate($flag-en-angle);
		}

		#patrick-tr,
		#patrick-bl {
			transform: rotate($flag-en-angle * -1);
		}

		#patrick-tl {
			top: 0;
			left: 0;
			transform-origin: 0 0;
		}

		#patrick-tr {
			top: math.div(2, 30) * -1 * $flag-height;
			right: 0;
			transform-origin: 100% 100%;
		}

		#patrick-bl {
			bottom: math.div(2, 30) * -1 * $flag-height;
			left: 0;
			transform-origin: 0 0;
		}

		#patrick-br {
			bottom: 0;
			right: 0;
			transform-origin: 100% 100%;
		}

		#george-ver-background {
			background-color: $flag-en-white;
			width: math.div(10, 60) * $flag-en-width;
			height: $flag-height;
			top: 0;
			left: math.div(25, 60) * $flag-en-width;
		}

		#george-hor {
			width: $flag-en-width;
			height: math.div(10, 30) * $flag-height;
			top: math.div(10, 30) * $flag-height;
			left: 0;
			border-color: $flag-en-white;
			border-style: solid;
			border-top-width: math.div(2, 30) * $flag-height;
			border-bottom-width: math.div(2, 30) * $flag-height;
			border-left-width: 0;
			border-right-width: 0;
		}

		#george-ver {
			width: math.div(6, 60) * $flag-en-width;
			height: $flag-height;
			top: 0;
			left: math.div(27, 60) * $flag-en-width;
		}
	}

	&#cs {
		width: $flag-cs-width;

		#blue {
			width: 0;
			height: 0;
			top: 0;
			left: 0;
			z-index: 1;
			border-color: transparent;
			border-style: solid;
			border-left-width: math.div($flag-cs-width, 2);
			border-right-width: math.div($flag-cs-width, 2);
			border-top-width: math.div($flag-height, 2);
			border-bottom-width: math.div($flag-height, 2);
			border-left-color: $flag-cs-blue;
		}

		#white {
			width: $flag-cs-width;
			height: math.div($flag-height, 2);
			top: 0;
			left: 0;
			background-color: $flag-cs-white;
		}

		#red {
			width: $flag-cs-width;
			height: math.div($flag-height, 2);
			bottom: 0;
			left: 0;
			background-color: $flag-cs-red;
		}
	}
}
