@use "variables";

#links {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	align-items: center;

	a {
		margin-left: 1rem;
	}
}

#title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 1rem;
	max-width: variables.$viewport-width;

	div {
		text-align: right;
		flex: 1 0 auto;
	}

	h1 {
		margin: 0 0 -1rem -0.4rem;
		font-size: 5rem;
		color: variables.$accent;
	}

	h2:first-of-type {
		margin-bottom: 0.25rem;
	}
}
