@media (max-width: 1335px) {
	#title {
		margin-top: 1.6rem;
	}
}

@media print, (max-width: 750px) {
	#title {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 1rem;

		&, div {
			text-align: left;
		}

		div {
			margin-top: 1rem;
		}
	}

	#wrapper {
		flex-direction: column;

		aside, main {
			flex: initial;
		}

		aside {
			display: flex;
			flex-wrap: wrap;

			section {
				margin-right: 1.5rem;
			}

			#skills .column:first-of-type {
				margin-right: 1rem;
			}
		}

		main {
			padding-left: 0;
		}
	}
}

@media (max-width: 375px) {
	#title h1 {
		word-break: break-all;
	}
}

@media print {
	abbr {
		border-bottom: none;
	}

	#links {
		display: none;
	}

	#title {
		margin-top: 0;
	}

	#wrapper aside section {
		margin-right: 0.6rem;
	}
}
