*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
}

html {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	line-height: 1;
}

p {
	margin: 0;
}

a, abbr {
	text-decoration: none;
}
