@use '../../../css/reset';

body, html {
	padding: 0;
	margin: 0;
}

body, html, #map {
	width: 100%;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

h1 {
	margin: 0.75rem 0;
	color: #255d9a;
	font-weight: 900;
	font-size: 2rem;
}

h2 {
	margin: 0.5rem 0;
	color: #c9211e;
	font-weight: 900;
	font-size: 1.5rem;
}

h3 {
	margin: 0.25rem 0;
	font-weight: 900;
	font-size: 1.15rem;
}

#startup-dialog-close {
	display: block;
	position: absolute;
	z-index: 1001;
	top: 10%;
	right: 10%;
	appearance: none;
	font-weight: 700;
	margin: 0;
	padding: 1rem;
	cursor: pointer;

	&:after {
		content: "X";
	}

	&:checked, &:checked + #startup-dialog {
		display: none;
	}
}

#startup-dialog {
	position: absolute;
	z-index: 1000;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	overflow: scroll;
	background-color: white;
	padding: 2rem;

	p {
		margin: 1rem 0;
	}

	#icons {
		display: flex;
		align-items: center;
		justify-content: start;

		div {
			margin: 0 1rem 0 0.5rem;
		}
	}
}

.leaflet-popup-content {
	p {
		margin: 0.5rem 0;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 1rem 0;
	}
}
