@use "sass:map";
@function color($key) {
	@if not map.has-key($colors, $key) { @error '#{$key} not found in $colors'; }
	@return map.get($colors, $key);
}

@function darkColor($key) {
	@if not map.has-key($dark-colors, $key) { @error '#{$key} not found in $dark-colors'; }
	@return map.get($dark-colors, $key);
}

$colors: (
	bg:		#F7F7F7,
	fg:		black,
	altfg:	#4A4A4A
);

$dark-colors: (
	bg:		#323232,
	fg:		#F7F7F7,
	altfg:	#C0C0C0
);

#wrapper {
	--bg: #{color('bg')};
	--fg: #{color('fg')};
	--altfg: #{color('altfg')};
}

@media (prefers-color-scheme: dark) {
	#wrapper {
		--bg: #{darkColor('bg')};
		--fg: #{darkColor('fg')};
		--altfg: #{darkColor('altfg')};
	}
}

.color-mode-switcher#light:checked ~ #wrapper {
	--bg: #{color('bg')} !important;
	--fg: #{color('fg')} !important;
	--altfg: #{color('altfg')} !important;
}

.color-mode-switcher#dark:checked ~ #wrapper {
	--bg: #{darkColor('bg')} !important;
	--fg: #{darkColor('fg')} !important;
	--altfg: #{darkColor('altfg')} !important;
}
