*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

html {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	font-size: 1em;
	line-height: 1;
}

p, ul {
	margin: 0;
	padding: 0;
}

i {
	line-height: 1;
}

iframe {
	border: none;
}
