@use 'reset';
@use 'colors';

$transition-duration: .3s;

// Layout
#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-width: 140px;
}

main {
	width: 75%;
}

// Style
#wrapper {
	background-color: var(--bg);

	.transitions & {
		transition: background-color $transition-duration;
	}
}

main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: var(--fg);

	.transitions & {
		transition: color $transition-duration;
	}
}

h1 {
	margin: 0 0 1rem -0.15rem;
	font-size: 4rem;
}

h2 {
	margin: 1rem 0;
	font-size: 1.5rem;
	line-height: 1.1;
}

a {
	color: var(--fg);

	&:hover {
		color: var(--altfg);
	}

	.transitions & {
		transition: color $transition-duration;
	}

	&.contact {
		display: block;
		line-height: 1.4;
	}
}

// Site color mode switching
.color-mode-switcher {
	position: absolute;
	display: block;
	top: 0.75rem;
	right: 0.75rem;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	appearance: none;
	border: none;
	cursor: pointer;

	&#light {
		z-index: 1;
		background-color: colors.darkColor('fg');

		&:hover {
			background-color: colors.darkColor('altfg');
		}
	}

	&#dark {
		z-index: 2;
		background-color: colors.color('fg');

		&:hover {
			background-color: colors.color('altfg');
		}
	}

	.transitions & {
		transition: background-color $transition-duration;
	}

	&:checked {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	.color-mode-switcher {
		&#light {
			z-index: 2;
		}

		&#dark {
			z-index: 1;
		}
	}
}

// Breakpoints
@media (max-width: 400px) {
	main {
		width: 100%;
		padding: 1rem;
	}
}

@media (max-width: 270px) {
	h1 {
		word-break: break-all;
	}
}
