@use '../../../css/reset';

body {
	padding: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

h1 {
	margin: 0.75rem 0;
	color: #255d9a;
	font-weight: 900;
	font-size: 2rem;
}

h2 {
	margin: 0.5rem 0;
	color: #c9211e;
	font-weight: 900;
	font-size: 1.5rem;
}

ul {
	margin: 0 0 0 1.5rem;
}

li {
	line-height: 1.5rem;
}

a {
	font-weight: 700;
}

footer {
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: gray;
	font-weight: 600;
}
